body{
	padding: 20px;
	background: #3c3c3c;
	color: #ffffff;
}
.prev-btn, .next-btn{
	font-size: 16px; 
	color: #d3d3d3;
}
.prev-btn:hover, .next-btn:hover{
	color: #b6b3b3;
}
.play-btn, .pause-btn{
	font-size: 40px; 
	color: #d3d3d3;
}
.play-btn:hover, .pause-btn:hover{
	color: #b6b3b3; 
}
.wrapper > div {
	padding-right: 10px;
}
ul{
	list-style: none;
}
ul > li {
	padding: 10px;
}
ul > li:hover {
	background: #545454;
	cursor: pointer;
}
.song-play-now {
	background: #545454;
}
hr{
	border-color:  #888888;
	margin: 0;
	box-shadow: 0;
}
progress{
	width: 100%;
	height: 6px;
	color: #888888;
	background: #515151;
	border-radius: 6px;
	display: block;
	margin: 0 auto;
}
.progress-panel{
	display: inline-grid;
	grid-template-columns: 15% 70% 15%;
	text-align: center;
	line-height: 6px;
    width: 100%;
    /* height: 10px; */
    /* border: 1px solid green; */
}
progress::-webkit-progress-value {
  background: #888888;
}

progress::-moz-progress-bar {
  background: #515151;
  border-radius: 6px;
}

progress::-webkit-progress-value {
  background: #888888;
}

progress::-webkit-progress-bar {
  background: #515151;
  border-radius: 6px;
}

.controll-panel{
	/* border: 1px solid white; */
	margin: 0 auto;
	width: 146px;
	height: 65px;
	padding: 0;
}
.center {
	/* border: 1px solid green; */
    vertical-align: middle;
    display: table-cell;
	display: inline-block;
	padding: 10px;
}
.hidden {
	display: none;
}
.controll-btn {
	cursor: pointer;
}
.wrapper {
    display: grid;
    grid-template-columns: 10% 30% 40% 20%;
    /* grid-template-rows: 30px 30px; */
    align-items: left;
}